<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @users.each do |user| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= gravatar_for user, size: 225 %>
            
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "Lihat", user, class: "btn btn-sm btn-outline-secondary" %>
                  <% if current_user.admin? && !current_user?(user) %>
                    <%= link_to "Hapus", user, class: "btn btn-sm btn-outline-secondary", data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %>
                  <% end %>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
<%= will_paginate %>
