  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">sample app</span>
      </a>

      <ul class="nav nav-pills">
        <li><%= link_to "Home", root_path, class: "nav-link active" %></li>
        <li><%= link_to "Help", help_path, class: "nav-link" %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path, class: "nav-link" %></li>
          <div class="dropdown">
          <li class="dropdown nav-link"><a href="#" id="dropdownMenuButton1" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Account <b class="caret"></b></a>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %></li>
              <li class="divider"></li>
              <li>
              <%= link_to "Log out", logout_path, data: { "turbo-method": :delete }, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        </div>
        <% else %>
          <li><%= link_to "Log in", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </header>
  </div>
